
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: system-ui, sans-serif;
  background-color: #dadada;
}

.container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.emphasis {
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: .2em;
}

div {
  float: left;
  margin: 1%;
  width: 100%;
  /*border: 1px solid green;*/
}
.preview {
  background-position: center;
  background-size: 400px 400px;
  background-repeat: no-repeat;
  height: 300px;
  font-family: serif;
  font-size: 2em;
  padding-left: 35px;
  text-align: left;
}

.baku {
  background-image: url(../images/baku.jpg);
}
.london {
  background-image: url(../images/london.png);
}

.rome {
  background-image: url(../images/rome.jpg);
}

.madrid {
  background-image: url(../images/madrid.jpg);
}


@media screen and (min-width: 575px){
   div {
    width: 48%;
    /*border: 1px solid red;*/
  }
}
@media screen and (min-width: 991px){
   div {
    width: 23%;
    /*border: 1px solid blue;*/
  }
}
